*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 120%;
    background: rgb(233, 194, 233);
}
.header{
    width: 30%;
    margin: 50px auto 0px;
    color: rgb(11, 228, 40);
    background: rgb(235, 214, 176);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(88, 34, 139);
    
    
}
form{
    width: 50%;
    margin: 50px auto 0px;
    color: whitesmoke;
    background: rgb(34, 178, 65);
    text-align: center;
    padding: 70px;
    border: 1px solid rgb(88, 34, 139);
    

}
.btn{
    padding: 10px;
    font-size: 15px;
    color: rgb(244, 248, 252);
    background-color: rgb(17, 193, 224);
}
.input-group input{
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid yellow;
    width: 93%;

}